body {
	padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {	color: rgb(0, 183, 255); }

table {	width: 100%; border-spacing: 0; }

table td { padding: 10px; }

table thead tr {
	font-weight: bold;
	background-color: rgb(206, 206, 206);
}

table tbody tr { background-color: rgb(242, 242, 191); }

table tbody tr:hover { background-color: rgb(229, 229, 172); }

code {
	display: inline-block;
	padding: 2px 4px;
	font-weight: bold;
	border: solid 1px rgb(122, 122, 122);
	background-color: rgb(255, 255, 255);
}