<form id="frmCad" action="<%= url%>" method="post">
	<fieldset>
		<legend>Cadastro</legend>
		<label>Nome*</label>
		<input name="name" type="text" value="<%= name%>" maxlength="45" required />
		<input name="id" type="hidden" value="<%= id%>" />
		
		<input type="submit" value="Enviar" title="Enviar" />
	</fieldset>
</form>